@"
/backend/node_modules
/frontend/node_modules

*.log

.env

frontend/dist
"@ | Out-File -Encoding utf8 -Append .gitignore

/backend/sqlite3.exe
/backend/sqlite3_analyzer.exe
/backend/sqlite3_rsync.exe
/backend/sqldiff.exe
